 {% extends 'base.html' %}

 {% block title %}
 Карточка
 {% endblock %}

 {% block body %}
 <h1></h1>
<div class="container">
 <div class="card">
  <div class="card-header">
    Название карточки
  </div>
  <div class="card-header">
    Тэги, от которых зависит
  </div>
  <div class="card-header">
    Тэги, которые зависят
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Тело карточки</p>
    </blockquote>
  </div>
  <div class="card-header">
    Список источников
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Изображение</p>
    </blockquote>
  </div>
  <img src="..." class="img-fluid" alt="...">
</div>
</div>
 {% endblock %}
