 {% extends 'base.html' %}

 {% block title %}
 Создать карточку
 {% endblock %}

 {% block body %}

<h1>  </h1>
 <div class="container">
     <form method="post">
          <div class="mb-3">
           <label for="title" class="form-label">Название карточки (тема или вопрос)</label>
           <textarea class="form-control" name="title" id="title" rows="1"></textarea>
         </div>
           <div class="mb-3">
           <label for="text" class="form-label">Тело карточки</label>
           <textarea class="form-control" name="text" id="text" rows="3"></textarea>
         </div>
            <div class="mb-3">
           <label for="references" class="form-label">Список источников</label>
           <textarea class="form-control" name="references" id="references" rows="3"></textarea>
         </div>
         <input type="submit" class="btn btn-success" value="Сохранить">
     </form>
</div>

 {% endblock %}
