 {% extends 'base.html' %}

 {% block title %}
 Главная страница
 {% endblock %}

 {% block body %}
 <h1></h1>
<div class="container">
  <div class="row">
      <div class="col-sm-6 col-md-4 col-xl-3 mb-3">
        <a class="d-block" href="/docs/5.1/examples/headers/">
          <h3 class="h5 mb-1">Headers</h3>
        </a>
        <p class="text-muted">Display your branding, navigation, search, and more with these header components</p>
      </div>


      <div class="col-sm-6 col-md-4 col-xl-3 mb-3">
        <a class="d-block" href="/docs/5.1/examples/heroes/">
          <h3 class="h5 mb-1">Heroes</h3>
        </a>
        <p class="text-muted">Set the stage on your homepage with heroes that feature clear calls to action.</p>
      </div>


      <div class="col-sm-6 col-md-4 col-xl-3 mb-3">
        <a class="d-block" href="/docs/5.1/examples/features/">
          <h3 class="h5 mb-1">Features</h3>
        </a>
        <p class="text-muted">Explain the features, benefits, or other details in your marketing content.</p>
      </div>


      <div class="col-sm-6 col-md-4 col-xl-3 mb-3">
        <a class="d-block" href="/docs/5.1/examples/sidebars/">
          <h3 class="h5 mb-1">Sidebars</h3>
        </a>
        <p class="text-muted">Common navigation patterns ideal for offcanvas or multi-column layouts.</p>
      </div>


      <div class="col-sm-6 col-md-4 col-xl-3 mb-3">
        <a class="d-block" href="/docs/5.1/examples/footers/">
          <h3 class="h5 mb-1">Footers</h3>
        </a>
        <p class="text-muted">Finish every page strong with an awesome footer, big or small.</p>
      </div>


      <div class="col-sm-6 col-md-4 col-xl-3 mb-3">
        <a class="d-block" href="/docs/5.1/examples/dropdowns/">
         <h3 class="h5 mb-1">Dropdowns</h3>
        </a>
        <p class="text-muted">Enhance your dropdowns with filters, icons, custom styles, and more.</p>
      </div>


      <div class="col-sm-6 col-md-4 col-xl-3 mb-3">
        <a class="d-block" href="/docs/5.1/examples/list-groups/">
          <h3 class="h5 mb-1">List groups</h3>
        </a>
        <p class="text-muted">Extend list groups with utilities and custom styles for any content.</p>
      </div>


      <div class="col-sm-6 col-md-4 col-xl-3 mb-3">
        <a class="d-block" href="/docs/5.1/examples/modals/">
          <h3 class="h5 mb-1">Modals</h3>
        </a>
        <p class="text-muted">Transform modals to serve any purpose, from feature tours to dialogs.</p>
      </div>
    </div>
</div>
 {% endblock %}
